div r-container {
  background-color: #999;
  width: 500px;
  height: 100px;
  margin: 0 auto;
}

div e-container {
  background: #666;
}

div s-container {
  background: #333;
}

div u-container {
  background: #111;
}

p {
  color: blue;
}
