.r-container {
  background-color: #999;
  flex-basis: 60%;
  max-width: 1100px;
  padding: 0px 15px;
  overflow: hidden;
}

.e-container {
  background: #666666;
  box-sizing: border-box;
  flex-basis: 35%;  
  text-align: center;
  margin: 15px 0px;
}

.s-container {
  background: #333333;
  box-sizing: border-box;
  flex-basis: 63%;
  margin: 15px 0px;
}

.u-container {
  background: #111111;
}

p {
  color: #999;
}

body {
  background-color: #000;    
}

@media (min-width: 600px){
  .r-container {
  display: flex;
  justify-content: space-between;
  }
}
