.r-container {
  background-color: #999;
  flex-basis: 60%;
  max-width: 1100px;
  padding: 0px 15px;
  overflow: hidden;
}

.e-container {
  background: #666;
  box-sizing: border-box;
  flex-basis: 35%;  
  text-align: center;
  margin: 15px 0px;
}

.s-container {
  background: #333;
  box-sizing: border-box;
  flex-basis: 63%;
  margin: 15px 0px;
}

.u-container {
  background: #111;
  display: flex;
  flex-basis: 63%;
  flex-wrap: wrap;
  margin: 40px;
  justify-content: space-around;
}

.m-container {
  background-color: #432;
  width: 150px;
  height: 100px;
  margin: 20px auto;
  display: flex;
}

.p-container {
  margin: auto;
  padding: 30px;
  text-align: center;
}

.cntr-txt {
  margin: auto;
}

h1,h2,h3 {
  margin: 0;
}

p {
  color: #999;
}

body {
  background-color: #000;   
  color: #592
}

@media (min-width: 600px){
  .r-container {
  display: flex;
  justify-content: space-between;
  }
}
